<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367415157654-tb4e1hqbtrt1u5o33to8fjb2ie0ko676.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367415157654-tb4e1hqbtrt1u5o33to8fjb2ie0ko676</string>
	<key>API_KEY</key>
	<string>AIzaSyBwR3ma4Z7CZH8yyi72pDTsXyrScygZqp8</string>
	<key>GCM_SENDER_ID</key>
	<string>367415157654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberDriverApp</string>
	<key>PROJECT_ID</key>
	<string>uber-driver-7a291</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-driver-7a291.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367415157654:ios:03a9945bfd7615cd8eb3b7</string>
	<key>DATABASE_URL</key>
	<string>https://uber-driver-7a291-default-rtdb.firebaseio.com</string>
</dict>
</plist>